<div class="container-fluid">
  <div class="row">
      <div  class="col-xs-2 sidenav">
          <b>
              <a href="#">Dashboard</a>
              <a href="#">Place Order</a>
              <a href="#">Order History</a>
              <a href="#">Cancelled Orders</a>
              <a href="#">Accepted Orders</a>
              <a href="#">Delayed Orders</a>
          </b>
      </div>
      <div class="col-xs-2"></div>
      <div class="col-xs-8" >
<!-- <<<<<<< HEAD -->
          <app-dashboard></app-dashboard>
          <!-- <app-place-new-order></app-place-new-order> -->
<!-- ======= -->
          <!-- <app-dashboard></app-dashboard> -->
          <!-- <app-place-new-order></app-place-new-order> -->
          <!-- <app-order-history></app-order-history> -->
          <!-- <app-cancelled-orders></app-cancelled-orders> -->
          <!-- <app-accepted-orders></app-accepted-orders> -->
          <!-- <app-delayed-orders></app-delayed-orders> -->
<!-- >>>>>>> 47aba1f517554a15b199392bc2804d0fbc145e9a -->
      </div>
  </div>
</div>



