<div class="container-fluid">
  <div class="row">
      <div  class="col-xs-2 sidenav">
          <b>
              <a href="#">Dashboard</a>
              <a href="#">Place Order</a>
              <a href="#">Order History</a>
              <a href="#">Cancelled Orders</a>
              <a href="#">Accepted Orders</a>
              <a href="#">Delayed Orders</a>
          </b>
      </div>
      <div class="col-xs-2"></div>
      <div class="col-xs-8" >

          <!-- <skf-dashboard></skf-dashboard> -->
          <skf-place-new-order></skf-place-new-order>
          <!-- <skf-order-history></skf-order-history> -->
          <!-- <skf-cancelled-orders></skf-cancelled-orders> -->
          <!-- <skf-accepted-orders></skf-accepted-orders> -->
          <!-- <skf-delayed-orders></skf-delayed-orders>  -->
      </div>
  </div>
</div>



