<div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <label for="title"><h2>ENTER DETAILS oOF NEW ORDER</h2></label>
    <div id="user-data">

     


     
     



      <div class="form-group">
        <label for="orderId">orderId</label>
        <input 
        type="number"
        id="orderId" 
        class="form-control" style="background-color: white"
        ngModel required
        name="orderId">
      </div>
      <div class="form-group">
        <label for="Qty">Qty</label>
        <input 
        type="number"
        id="Qty" 
        class="form-control" style="background-color: white"
        ngModel required
        name="Qty">
      </div>
      <div class="form-group">
        <label for="unitPrice">unitPrice</label>
        <input 
        type="number" 
        id="unitPrice" 
        class="form-control"
        ngModel required
        name="unitPrice">
      </div>
      <div class="form-group">
        <label for="totalPrice">totalPrice </label>
        <input 
        type="number" 
        id="totalPrice" 
        class="form-control"
        ngModel required
        name="totalPrice">
      </div>
      
    </div>
        <button class="btn btn-primary"
         type="submit"
        [disabled]="!f.valid" ><b>Submit</b> </button>

    
  </form>

</div>
<div class="container" *ngIf="submitted">
  <div class="row"  >
    <div class="col-xs-12">
      <h3>Your Data : </h3>
      <p>orderId : {{user.orderId}}</p>
      <p>unitPrice : {{user.unitPrice}}</p>
      <p>totalPrice : {{user.totalPrice}} </p> 

    </div>
  </div>
</div>