<div class="container-fluid">
  <div class="row">
      <div  class="col-xs-2 sidenav">
          <b>
              <a href="#">Dashboard</a>
              <a href="#">Place Order</a>
              <a href="#">Order History</a>
              <a href="#">Cancelled Orders</a>
          </b>
      </div>
      <div class="col-xs-2"></div>
      <div class="col-xs-8" >
          <!-- <app-dashboard></app-dashboard> -->
          <!-- <app-place-new-order></app-place-new-order> -->
      </div>
  </div>
</div>



